#playing_fields {
	position: absolute;
	left: 640px;
}

.score,
.name,
.board,
.running_trt {
	--offset: -1px;
	right: var(--offset);
}

.tetris_rate,
.eff,
.drought {
	--offset: 257px;
	right: var(--offset);
}

.score {
	--border-size: 12;
	width: 239px;
	height: 54px;
	font-size: 24px;
	line-height: 24px;
	padding: 3px 2px;
}

.score > div {
	display: flex;
	flex-direction: row;
}

.score .value,
.score .lines {
	padding-top: 3px;
	padding-bottom: 4px;
}

.score .lines {
	flex-grow: 1;
	text-align: right;
	font-size: 16px;
	line-height: 16px;
}

.score .tetris_diff {
	flex-grow: 1;
	text-align: right;
	font-size: 16px;
	line-height: 24px;
	padding-top: 3px;
}

.score .value,
.score .diff {
	white-space: pre;
	text-align: left;
}

.board {
	width: 237px;
	height: 477px;
	top: 75px;
}

.runway,
.projection {
	width: 120px;
	height: 74px;

	--offset: 298px;
	right: var(--offset);
}

.runway .header,
.projection .header {
	line-height: 12px;
	font-size: 8px;
	padding-bottom: 3px;
}

.runway .content,
.projection .content {
	text-align: right;
}

.projection {
	--offset: 468px;
}

.name,
.flag,
.hearts {
	top: 656px;
}

.name {
	width: 308px;
	height: 25px;

	padding-top: 8px;
	font-size: 20px;
	line-height: 20px;
}

.name .content {
	color: #b0afb0;
	letter-spacing: 5px;
	text-indent: 5px;
}

.flag {
	width: 50px;
	height: 33px;

	--offset: 560px;
	right: var(--offset);
}

.hearts .win {
	color: #fb0204;
}

.tetris_rate {
	width: 50px;
	height: 62px;
	top: 573px;
}

.tetris_rate .content {
	padding-top: 10px;
}

.running_trt {
	--border-size: 12;
	width: 243px;
	height: 68px;
	top: 573px;
}

.board .level {
	position: absolute;
	line-height: 16px;
	z-index: 100;
}

.board .next_piece {
	position: absolute;
	width: 64px;
	height: 32px;
	right: 0;
	top: 0;
	z-index: 1;
}

.eff,
.drought {
	width: 50px;
	top: 451px;
}

.eff .header,
.drought .header {
	padding-bottom: 2px;
}

.drought {
	opacity: 0;
	display: none; /**/
	color: red;
}

.drought.active {
	display: block;
	animation: fadeIn ease 1s;
	animation-fill-mode: forwards;
}

.past_killscreen {
	animation: darkens_n_hides 1s;
	animation-fill-mode: forwards;
}

.eff {
	top: 512px;
}

.hearts {
	position: absolute;
	width: 211px;
	height: 27px;

	color: #b0afb0;
	font-size: 24px;
	line-height: 24px;
	padding-top: 6px;
	letter-spacing: 8px;
	text-align: center;

	--offset: 328px;
	right: var(--offset);
}

.player_vid {
	position: absolute;
	object-fit: cover;

	top: 0;
	width: 377px;
	height: 662px;

	--offset: 263px;
	right: var(--offset);
}

.p2 > * {
	left: var(--offset);
}
