#stream_bg {
	width: 1920px;
	height: 1080px;
}

#playing_fields {
	position: absolute;
	left: 960px;
	top: 0;
}

.box {
	font-size: 24px;
	line-height: 30px;
}

.score,
.name,
.board,
.running_trt {
	--offset: 0;
}

.board {
	--border-size: 12;
	padding: 3px;
	width: 356px;
	height: 716px;
	top: 96px;
}

.board .level {
	top: 3px;
	font-size: 24px;
	line-height: 24px;
}

.board .next_piece {
	top: 3px;
	right: 3px;
	width: 96px;
	height: 48px;
}

.running_trt {
	--border-size: 15;
	top: 833px;
	width: 356px;
	height: 98px;
}

.runway,
.projection {
	width: 172px;
	height: 110px;
	padding-top: 3px;
	--offset: 448px;
}

.runway .header,
.projection .header {
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 5px;
}

.projection {
	--offset: 718px;
}

.score {
	--border-size: 15;
	width: 353px;
	height: 72px;
	padding: 3px 0 0 3px;
}

.score .value,
.score .diff {
	font-size: 32px;
	line-height: 32px;
	padding-top: 0;
}

.score .diff {
	padding-top: 4px;
}

.score .lines,
.score .tetris_diff {
	font-size: 24px;
	line-height: 24px;
	padding-top: 0;
}

.score .tetris_diff {
	padding-top: 11px;
}

.name,
.hearts,
.flag {
	top: 952px;
	width: 461px;
	height: 39px;
	font-size: 32px;
	line-height: 32px;
	padding-top: 11px;
}

.hearts {
	--offset: 482px;
	width: 352px;
	height: 39px;
	padding-top: 11px;
}

.tetris_rate,
.drought,
.eff {
	--offset: 377px;
	width: 78px;
	height: 98px;
	padding: 3px;
}

.tetris_rate {
	height: 92px;
	top: 833px;
}

.eff,
.drought {
	height: 61px;
	top: 745px;
}

.drought {
	top: 657px;
}

.tetris_rate .content {
	padding-top: 20px;
}

.flag {
	padding: 0;
	position: absolute;
	width: 75px;
	height: 50px;

	font-size: 48px;
	line-height: 48px;

	--offset: 855px;
	right: var(--offset);
}

.player_vid {
	position: absolute;
	width: 577px;
	height: 959px;
	object-fit: cover;

	--offset: 383px;
	right: var(--offset);
}

#branding {
	position: absolute;
	/* background: orange;
    opacity: 0.5; /**/
	width: 1920px;
	height: 48px;
	left: 0;
	top: 1032px;
}
