#stream_bg {
	width: 1920px;
	height: 1080px;
}

.box .header {
	width: 100%;
	text-align: center;
}

.box .value {
	text-align: left;
}

.player {
	position: absolute;
	left: 0;
	width: 250px;
}

.score,
.board {
	left: 0;
}

.score {
	top: 133px;
	width: 198px;
	height: 50px;
	padding: 3px 0;
	font-size: 24px;
	line-height: 24px;
}

.score .header {
	color: #f3ed55;
	overflow: hidden;
	padding-bottom: 7px;
	font-size: 16px;
	line-height: 20px;
}

.score .value {
	width: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 26px;
}

.board {
	--borders-size: 12;
	width: 198px;
	height: 398px;
	top: 210px;
}

.board .lines {
	position: absolute;
	top: 1px;
	text-align: left;
	width: 48px;
	line-height: 16px;
	z-index: 1;
}

.board .next_piece {
	position: absolute;
	top: o;
	right: 0;
	width: 64px;
	height: 32px;
	z-index: 2;
}

.running_trt {
	width: 198px;
	height: 88px;
	top: 629px;
}

video.box {
	top: 0;
	width: 198px;
	height: 112px;
	object-fit: cover;
}

.aligner {
	display: inline-block;
	text-align: right;
}

.no-video .score {
	top: 0;
}

.no-video .board {
	top: 77px;
}

.no-video .running_trt {
	top: 496px;
}

.leaderboard {
	top: 130px;
	left: 59px;
	width: 1754px;
	height: 169px;
	font-size: 24px;
	line-height: 30px;
	padding: 6px 9px 0 9px;
}

.leaderboard .header {
	padding-bottom: 12px;
}

.leaderboard .value {
	text-transform: uppercase;
	columns: 2 auto;
	column-rule: 1px solid;
}

.entry > * {
	display: inline-block;
	vertical-align: top;
	text-align: right;
}

.entry .name {
	width: 312px;
	text-align: center;
	overflow: hidden;
}

.entry .score2 {
	width: 216px;
}

.entry .diff {
	width: 240px;
}

.brand {
	position: absolute;
	top: 1032px;
	left: 0;
	width: 1920px;
	height: 48px;
}
