html {
	overflow: hidden;
}

#playing_fields {
	position: absolute;
	left: 375px;
	top: 23px;
}

.box {
	width: 95px;
	height: 60px;
	line-height: 16px;
	text-align: center;
}

.box .header {
	padding: 6px 0;
}

.box .content,
.box .data {
	font-size: 24px;
	line-height: 30px;
}

.score,
.runway,
.lines,
.level,
.efficiency,
.tetris_rate {
	left: -9px;
}

.score,
.runway {
	top: 76px;
	width: 196px;
}

.runway {
	top: 157px;
}

.next_piece {
	width: 104px;
	height: 60px;
	top: 1px;

	--offset: 66px;
	right: var(--offset);
}

.lines {
	top: 238px;
}

.level {
	top: 319px;
}

.board,
.running_trt {
	--offset: 0;
	right: var(--offset);
}

.board {
	width: 237px;
	height: 477px;
	top: 76px;
}

.tetris_rate {
	top: 574px;
	height: 66px;
}

.efficiency {
	top: 493px;
}

.tetris_rate .content {
	padding: 0 5px;
}

.running_trt {
	--border-size: 12;
	width: 244px;
	height: 72px;
	top: 574px;
}

.drought {
	width: 46px;
	top: 15px;
	height: 40px;
	color: red;

	/**/
	opacity: 0;
	display: none;
	/**/

	--pos: 191px;
	right: var(--pos);
}

.drought .header {
	padding-top: 2px;
	padding-bottom: 5px;
}

.drought.active {
	display: block;
	animation: fadeIn ease 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
