html {
	overflow: hidden;
}
#stream_bg {
	background: black;
}

#nestris_ui {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 512px;
	height: 448px;
	background: url('/views/stencil_bg.png');
	background-repeat: no-repeat;
	background-size: 512px 448px;
	transform-origin: top left;
	transform: scale(1.6071428571428572);
}

#nestris_ui label {
	position: absolute;
	font-size: 16px;
	font-family: 'Press Start K';
	color: white;
}

#nestris_ui .lines {
	top: 32px;
	left: 304px;
}

#nestris_ui .top {
	top: 64px;
	left: 384px;
}

#nestris_ui .score {
	top: 112px;
	left: 384px;
}

#nestris_ui .level {
	top: 320px;
	left: 416px;
}

#nestris_ui .stat {
	left: 96px;
	color: #d82901;
}

#nestris_ui .stat.T {
	top: 176px;
}

#nestris_ui .stat.J {
	top: 208px;
}

#nestris_ui .stat.Z {
	top: 240px;
}

#nestris_ui .stat.O {
	top: 272px;
}

#nestris_ui .stat.S {
	top: 304px;
}

#nestris_ui .stat.L {
	top: 336px;
}

#nestris_ui .stat.I {
	top: 368px;
}

#piece_stats .piece {
	position: absolute;
	left: 48px;
	display: inline-block;
	background: url(/views/pieces_sprites.png);
	background-repeat: no-repeat;
	background-position-x: 0px;
	width: 46px;
	height: 22px;
	margin: 0;
	padding: 0;
}

#piece_stats.l0 .piece {
	background-position-x: -48px;
}

#piece_stats.l1 .piece {
	background-position-x: -96px;
}

#piece_stats.l2 .piece {
	background-position-x: -144px;
}

#piece_stats.l3 .piece {
	background-position-x: -192px;
}

#piece_stats.l4 .piece {
	background-position-x: -240px;
}

#piece_stats.l5 .piece {
	background-position-x: -288px;
}

#piece_stats.l6 .piece {
	background-position-x: -336px;
}

#piece_stats.l7 .piece {
	background-position-x: -384px;
}

#piece_stats.l8 .piece {
	background-position-x: -432px;
}

#piece_stats.l9 .piece {
	background-position-x: -480px;
}

#piece_stats .piece.T {
	background-position-y: -2px;
	top: 170px;
}

#piece_stats .piece.J {
	background-position-y: -32px;
	top: 200px;
}

#piece_stats .piece.Z {
	background-position-y: -66px;
	top: 234px;
}

#piece_stats .piece.O {
	background-position-y: -98px;
	top: 266px;
}

#piece_stats .piece.S {
	background-position-y: -130px;
	top: 298px;
}

#piece_stats .piece.L {
	background-position-y: -160px;
	top: 328px;
}

#piece_stats .piece.I {
	background-position-y: -192px;
	top: 360px;
}

#playing_fields {
	position: absolute;
	left: 825px;
	top: 0;
	width: 455px;
	height: 720px;
}

.box {
	width: 95px;
	height: 40px;
	text-align: center;
}

.box .content,
.box .data {
	font-size: 24px;
	line-height: 30px;
}

.burn {
	top: 440px;
	left: 5px;
}

.runway {
	top: 440px;
	left: 121px;
	width: 298px;
}

.eff {
	top: 501px;
	left: 5px;
}

.projection {
	top: 501px;
	left: 121px;
	width: 298px;
}

.next_piece {
	position: absolute;
	width: 64px;
	height: 32px;
	top: 224px;
	left: 384px;
}

.board {
	position: absolute;
	width: 158px;
	height: 320px;
	top: 80px;
	left: 192px;
}

.timer {
	display: none; /**/
	top: 386px;
	left: 5px;
	width: 411px;
	text-align: center;
	height: 29px;
	padding: 17px;
}

.bounded {
	border-style: dashed;
	border-color: #505050;
	border-width: 1px 0;
}

.running_trt {
	padding: 15px 12px 12px 12px;

	width: 420px;
	height: 126px;
	top: 562px;
	left: 5px;
}

.running_trt .header {
	padding-bottom: 2px;
}

.running_trt .value {
	border-bottom: 0;
	width: 420px;
	height: 103px;
	position: relative;
}

.drought {
	position: absolute;
	background: black;
	font-family: 'Press Start K', monospace;
	font-size: 16px;
	color: #d82901;

	padding: 6px 2px;
	top: 126px;
	left: 36px;
	width: 120px;
	height: 20px;
}

.drought .header {
	padding-bottom: 2px;
}

.drought .value {
	padding-bottom: 2px;
}
