#nestris_ui {
	background: url('/views/stencil_champs_bg.3x.png');
}

.eff {
	top: calc(196px * var(--nes_pixel_size));
	left: calc(224px * var(--nes_pixel_size));
}

.trt {
	top: calc(184px * var(--nes_pixel_size));
	left: calc(224px * var(--nes_pixel_size));
}

.runway {
	top: calc(23px * var(--nes_pixel_size));
	left: calc(16px * var(--nes_pixel_size));
}

.projection {
	top: calc(41px * var(--nes_pixel_size));
	left: calc(16px * var(--nes_pixel_size));
}
