html {
	overflow: hidden;
}
#stream_bg {
	background: black;
}

#nestris_ui {
	position: absolute;
	overflow: hidden;
	--nes_pixel_size: 3;
	top: 0;
	left: 0;
	width: calc(256px * var(--nes_pixel_size));
	height: calc(224px * var(--nes_pixel_size));
	background: url('/views/stencil_bg.3x.png');
	background-repeat: no-repeat;
	background-size: calc(256px * var(--nes_pixel_size))
		calc(224px * var(--nes_pixel_size));
	transform-origin: top left;
	transform: scale(1.0714285714285714);
}

#nestris_ui label {
	position: absolute;
	font-size: calc(8px * var(--nes_pixel_size));
	font-family: 'Press Start K';
	color: white;
}

#nestris_ui .lines {
	top: calc(16px * var(--nes_pixel_size));
	left: calc(152px * var(--nes_pixel_size));
}

#nestris_ui .top {
	top: calc(32px * var(--nes_pixel_size));
	left: calc(192px * var(--nes_pixel_size));
}

#nestris_ui .score {
	top: calc(56px * var(--nes_pixel_size));
	left: calc(192px * var(--nes_pixel_size));
}

#nestris_ui .level {
	top: calc(160px * var(--nes_pixel_size));
	left: calc(208px * var(--nes_pixel_size));
}

#nestris_ui .stat {
	left: calc(48px * var(--nes_pixel_size));
	color: #d82901;
}

#nestris_ui .stat.T {
	top: calc(88px * var(--nes_pixel_size));
}

#nestris_ui .stat.J {
	top: calc(104px * var(--nes_pixel_size));
}

#nestris_ui .stat.Z {
	top: calc(120px * var(--nes_pixel_size));
}

#nestris_ui .stat.O {
	top: calc(136px * var(--nes_pixel_size));
}

#nestris_ui .stat.S {
	top: calc(152px * var(--nes_pixel_size));
}

#nestris_ui .stat.L {
	top: calc(168px * var(--nes_pixel_size));
}

#nestris_ui .stat.I {
	top: calc(184px * var(--nes_pixel_size));
}

#piece_stats .piece {
	position: absolute;
	left: calc(24px * var(--nes_pixel_size));
	display: inline-block;
	background: url(/views/pieces_sprites.3x.png);
	background-repeat: no-repeat;
	background-position-x: 0px;
	width: calc(23px * var(--nes_pixel_size));
	height: calc(11px * var(--nes_pixel_size));
	margin: 0;
	padding: 0;
}

#piece_stats.l0 .piece {
	background-position-x: calc(-24px * var(--nes_pixel_size));
}

#piece_stats.l1 .piece {
	background-position-x: calc(-48px * var(--nes_pixel_size));
}

#piece_stats.l2 .piece {
	background-position-x: calc(-72px * var(--nes_pixel_size));
}

#piece_stats.l3 .piece {
	background-position-x: calc(-96px * var(--nes_pixel_size));
}

#piece_stats.l4 .piece {
	background-position-x: calc(-120px * var(--nes_pixel_size));
}

#piece_stats.l5 .piece {
	background-position-x: calc(-144px * var(--nes_pixel_size));
}

#piece_stats.l6 .piece {
	background-position-x: calc(-168px * var(--nes_pixel_size));
}

#piece_stats.l7 .piece {
	background-position-x: calc(-192px * var(--nes_pixel_size));
}

#piece_stats.l8 .piece {
	background-position-x: calc(-216px * var(--nes_pixel_size));
}

#piece_stats.l9 .piece {
	background-position-x: calc(-240px * var(--nes_pixel_size));
}

#piece_stats .piece.T {
	background-position-y: calc(-1px * var(--nes_pixel_size));
	top: calc(85px * var(--nes_pixel_size));
}

#piece_stats .piece.J {
	background-position-y: calc(-16px * var(--nes_pixel_size));
	top: calc(100px * var(--nes_pixel_size));
}

#piece_stats .piece.Z {
	background-position-y: calc(-33px * var(--nes_pixel_size));
	top: calc(117px * var(--nes_pixel_size));
}

#piece_stats .piece.O {
	background-position-y: calc(-49px * var(--nes_pixel_size));
	top: calc(133px * var(--nes_pixel_size));
}

#piece_stats .piece.S {
	background-position-y: calc(-65px * var(--nes_pixel_size));
	top: calc(149px * var(--nes_pixel_size));
}

#piece_stats .piece.L {
	background-position-y: calc(-80px * var(--nes_pixel_size));
	top: calc(164px * var(--nes_pixel_size));
}

#piece_stats .piece.I {
	background-position-y: calc(-96px * var(--nes_pixel_size));
	top: calc(180px * var(--nes_pixel_size));
}

#playing_fields {
	position: absolute;
	left: 825px;
	top: 0;
	width: 455px;
	height: 720px;
}

.box {
	width: 95px;
	height: 40px;
	text-align: center;
}

.box .content,
.box .data {
	font-size: 24px;
	line-height: 30px;
}

.burn {
	top: 442px;
	left: 5px;
}

.runway {
	top: 442px;
	left: 121px;
	width: 298px;
}

.eff {
	top: 503px;
	left: 5px;
}

.projection {
	top: 503px;
	left: 121px;
	width: 298px;
}

.next_piece {
	position: absolute;

	/* position and size account for center-rendering done by NTC,
	where the right and bottom border is ignored */

	top: calc(111px * var(--nes_pixel_size));
	left: calc(191px * var(--nes_pixel_size));
	width: calc(33px * var(--nes_pixel_size));
	height: calc(17px * var(--nes_pixel_size));
}

.board {
	position: absolute;

	top: calc(40px * var(--nes_pixel_size));
	left: calc(96px * var(--nes_pixel_size));
	width: calc(79px * var(--nes_pixel_size));
	height: calc(160px * var(--nes_pixel_size));
}

.timer {
	display: none; /**/
	top: 388px;
	left: 5px;
	width: 410px;
	text-align: center;
	height: 29px;
	padding: 2px;
}

.bounded {
	border-style: dashed;
	border-color: #505050;
	border-width: 1px 0;
}

.running_trt {
	--border-size: 12;
	padding: 3px 0 0 0;

	width: 420px;
	height: 126px;
	top: 564px;
	left: 5px;
}

.running_trt .header {
	padding-bottom: 2px;
}

.running_trt .value {
	border-bottom: 0;
	width: 420px;
	height: 103px;
	position: relative;
}

.drought {
	position: absolute;
	background: black;
	font-family: 'Press Start K', monospace;
	font-size: calc(8px * var(--nes_pixel_size));
	color: #d82901;

	padding: calc(3px * var(--nes_pixel_size)) calc(1px * var(--nes_pixel_size));
	top: calc(63px * var(--nes_pixel_size));
	left: calc(18px * var(--nes_pixel_size));
	width: calc(60px * var(--nes_pixel_size));
	height: calc(10px * var(--nes_pixel_size));
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 455px;
	height: 386px;
	object-fit: cover;
}
