@font-face {
	font-family: 'Press Start';
	src: url('/fonts/prstart.ttf');
}

@font-face {
	font-family: 'Press Start K';
	src: url('/fonts/prstartk_nes_tetris_8.ttf');
}

html,
body,
table,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Press Start K', monospace;
}

#stream_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 1280px;
	height: 720px;
	overflow: hidden;
	/*
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	/**/
}

.box {
	position: absolute;
	padding: 0;
	height: 40px;

	color: white;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	/* css magic to handle borders 💪 */
	--border-size: 15;
	border: solid calc(var(--border-size) * 1px) transparent;
	border-image-source: url('/views/border_3px.png');
	border-image-slice: var(--border-size) var(--border-size) var(--border-size)
		var(--border-size) fill;
	border-image-width: calc(var(--border-size) * 1px)
		calc(var(--border-size) * 1px);
}

.flag > img {
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes darkens_n_hides {
	from {
		visibility: visible;
		opacity: 1;
		filter: brightness(1) blur(0px);
	}
	to {
		visibility: hidden;
		opacity: 0;
		filter: brightness(0.5) blur(10px);
	}
}
