<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/views/tetris.css" />
		<link rel="stylesheet" type="text/css" href="/views/ctjc.css" />
		<style>
			.score {
				top: 85px;
			}

			.lines {
				top: 252px;
			}

			.level {
				top: 329px;
			}

			.efficiency {
				top: 506px;
			}
		</style>
	</head>
	<body>
		<div id="stream_bg">
			<div id="bg_pieces"></div>
			<div id="frame_stats"></div>

			<div id="playing_fields">
				<div id="logo"></div>

				<video class="box player_vid p1"></video>
				<video class="box player_vid p2"></video>

				<!-- Player 1 -->

				<div class="box score">
					<div class="header">SCORE</div>
					<div class="data">
						<div class="p1">0&#x202F;000&#x202F;000</div>
						<div class="diff">0000</div>
						<div class="tetris_diff">0000</div>
						<div class="p2">0&#x202F;000&#x202F;000</div>
					</div>
				</div>

				<div class="box lines">
					<div class="header">LINES</div>
					<div class="content">
						<div class="p1">000</div>
						<div class="p2">000</div>
					</div>
				</div>

				<div class="box level">
					<div class="header">LEVEL</div>
					<div class="content">
						<div class="p1">00</div>
						<div class="p2">00</div>
					</div>
				</div>

				<div class="box tetris_rate">
					<div class="header">TETRIS RATE</div>
					<div class="content">
						<div class="p1">---</div>
						<div class="p2">---</div>
					</div>
				</div>

				<div class="box efficiency">
					<div class="header">EFFICIENCY</div>
					<div class="content">
						<div class="p1">---</div>
						<div class="p2">---</div>
					</div>
				</div>

				<div class="box running_trt p1"></div>
				<div class="box running_trt p2"></div>

				<div class="box drought p1">
					<div class="header">DRT</div>
					<div class="value">99</div>
				</div>

				<div class="box drought p2">
					<div class="header">DRT</div>
					<div class="value">99</div>
				</div>

				<div class="box name">
					<div class="p1">Player 1</div>
					<div class="wins">
						<span class="p1"></span> <span class="p2"></span>
					</div>
					<div class="p2">Player 2</div>
				</div>

				<div class="box board p1"></div>
				<div class="box board p2"></div>

				<div class="box next_piece p1"></div>
				<div class="box next_piece p2"></div>
			</div>

			<!-- End Playing Fields -->
		</div>
		<!-- End Stream BG -->

		<script>
			// custom view parameters which will be passed in the websocket URI
			const view_meta = new URLSearchParams({
				video: '320x240',
			});
		</script>
		<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
		<script type="module">
			import '/views/bg.js';
			import { translate, readableScoreFomatter } from '/views/utils.js';
			import Player from '/views/Player.js';
			import Competition, { getTetrisDiff } from '/views/competition.js';

			const players = [1, 2].map(
				num =>
					new Player(
						{
							name: document.querySelector(`.name > .p${num}`),
							score: document.querySelector(`.score .p${num}`),
							level: document.querySelector(`.level .p${num}`),
							lines: document.querySelector(`.lines .p${num}`),
							trt: document.querySelector(`.tetris_rate .p${num}`),
							eff: document.querySelector(`.efficiency .p${num}`),
							running_trt: document.querySelector(`.running_trt.p${num}`),
							preview: document.querySelector(`.next_piece.p${num}`),
							field: document.querySelector(`.board.p${num}`),
							drought: document.querySelector(`.drought.p${num} .value`),
							hearts: document.querySelector(`.wins .p${num}`),
							video: document.querySelector(`.player_vid.p${num}`),
						},
						{
							wins_rtl: num === 1,
							reliable_field: 0,
							format_score: readableScoreFomatter,
							stereo: translate([1, 2], [-1, 1], num),
						}
					)
			);

			players.forEach((player, idx) => {
				player.drought_box = document.querySelector(`.drought.p${idx + 1}`);

				player.onDroughtStart = () => {
					console.log('onDroughtStart', idx + 1);
					player.drought_box.classList.add('active');
				};

				player.onDroughtEnd = count => {
					console.log('onDroughtEnd', idx + 1, count);
					player.drought_box.classList.remove('active');
				};

				player.onGameStart = () => {
					console.log('onGameStart', idx + 1);
					player.drought_box.classList.remove('active');
				};
			});

			const competition = new Competition(players);

			competition.API.setLogo = function (url) {
				document.querySelector(`#logo`).style.backgroundImage = `url(${url})`;
			};

			competition.computeScoreDifferentials = function () {
				const score_p1 = players[0].getScore(),
					score_p2 = players[1].getScore();

				if (isNaN(score_p1) || isNaN(score_p2)) {
					return;
				}

				const diff = score_p1 - score_p2,
					diff_elem = document.querySelector(`.diff`),
					tdiff_elem = document.querySelector(`.tetris_diff`);

				if (diff === 0) {
					diff_elem.textContent = '<0>';
					tdiff_elem.textContent = '<0T>';
				} else {
					const player1_leading = diff > 0;
					const abs_diff = Math.abs(diff);
					const fmt = readableScoreFomatter(abs_diff);

					let tdiff;

					if (player1_leading) {
						tdiff = getTetrisDiff(players[0], players[1]);
					} else {
						tdiff = getTetrisDiff(players[1], players[0]);
					}

					const tfmt = tdiff > 100 ? Math.round(tdiff) : tdiff.toFixed(1);

					if (player1_leading) {
						diff_elem.textContent = `<${fmt}`;
						tdiff_elem.textContent = `<${tfmt}T`;
					} else {
						diff_elem.textContent = `${fmt}>`;
						tdiff_elem.textContent = `${tfmt}T>`;
					}
				}
			};
		</script>
	</body>
</html>
