<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/views/tetris.css" />
		<link rel="stylesheet" type="text/css" href="/views/mmp.css" />
		<style>
			.team {
				position: absolute;
				top: 300px;
			}

			.team-score {
				font-size: 32px;
				line-height: 48px;
				width: 419px;
				height: 45px;
				top: -66px;
			}

			.no-video .team {
				top: 370px;
			}

			.leaderboard {
				top: 20px;
				left: 672px;
				width: 528px;
				height: 169px;
			}

			.leaderboard .value {
				columns: 1 auto;
			}

			.entry .name {
				width: 24px;
				text-align: left;
			}
		</style>
	</head>
	<body>
		<div id="stream_bg">
			<div class="box leaderboard">
				<div class="header">RANKING</div>
				<div class="value"></div>
			</div>

			<template id="pair">
				<div class="team">
					<div class="players"></div>
					<div class="box team-score">
						<div class="aligner">
							<span class="letter">Z 1</span> <span class="sum">0</span>
						</div>
					</div>
				</div>
			</template>

			<template id="player">
				<div class="player">
					<div class="box board">
						<div class="lines">000</div>
						<div class="next_piece"></div>
					</div>

					<div class="box score">
						<div class="header">PLAYER</div>
						<div class="value">0&#x202F;000&#x202F;000</div>
					</div>

					<div class="box running_trt"></div>

					<video class="box"></video>
				</div>
			</template>

			<template id="rank">
				<div class="entry">
					<span class="name">A</span>
					<span class="score2">0</span>
					<span class="diff">0</span>
				</div>
			</template>
		</div>
		<!-- End Stream BG -->

		<!-- Audio -->
		<script>
			// custom view parameters which will be passed in the websocket URI
			const view_meta = new URLSearchParams({
				video: '352x240',
				players: 8,
			});
		</script>
		<script src="/vendor/peerjs.1.5.1.min.js"></script>
		<script type="module">
			import '/views/bg.js';
			import QueryString from '/js/QueryString.js';
			import Color from '/views/color.js';
			import Gradient from '/views/gradient.js';
			import { peerServerOptions } from '/views/constants.js';
			import { translate, readableScoreFomatter } from '/views/utils.js';
			import Player from '/views/Player.js';
			import Competition from '/views/competition.js';

			const stream_bg = document.getElementById('stream_bg');
			const team_template = document.getElementById('pair');
			const rank_template = document.getElementById('rank');
			const player_template = document.getElementById('player');
			const leaderboard_values = document.querySelector('.leaderboard  .value');
			const color_gradient = new Gradient( // green - orange - red
				'#0eff0e',
				new Color(255, 165, 0),
				'#fd0009'
			);

			const pairs_re = /^[234]$/;
			const pair_width = 447;
			const players = [];

			let num_teams = 4;

			if (pairs_re.test(QueryString.get('pairs'))) {
				num_teams = parseInt(QueryString.get('pairs'), 10);
			}

			class Team {
				constructor(index) {
					this.index = index;
					this.players = [];
					this.score = 0;
					this.letter = String.fromCharCode(65 + index);

					const team_fragment = document.importNode(
						team_template.content,
						true
					);

					this.node = team_fragment.querySelector('.team');
					this.node.querySelector('.aligner .letter').textContent = this.letter;
					stream_bg.appendChild(this.node);

					const rank_fragment = document.importNode(
						rank_template.content,
						true
					);
					this.rank_node = rank_fragment.querySelector('.entry');
					this.rank_node.querySelector('.name').textContent = this.letter;
				}

				updateScore() {
					this.score = this.players.reduce(
						(acc, player) => acc + player.getScore(),
						0
					);
					this.node.querySelector('.aligner .sum').textContent =
						readableScoreFomatter(this.score);
					this.rank_node.querySelector('.score2').textContent =
						readableScoreFomatter(this.score);
					updateDiffs();
				}
			}

			const teams = Array(num_teams)
				.fill()
				.map((_, idx) => new Team(idx));

			const rank_colors = teams.map((_, idx) =>
				color_gradient.getColorAt(idx / (teams.length - 1)).toHexString()
			);

			function updateDiffs() {
				teams
					.sort((t1, t2) =>
						t2.score === t1.score ? t1.idx - t2.idx : t2.score - t1.score
					)
					.forEach((team, idx) => {
						const color = rank_colors[idx];

						team.rank_node.style.color = color;
						team.node.querySelector('.aligner .letter').textContent = `${
							team.letter
						} ${idx + 1}`;
						team.node.querySelector('.aligner .letter').style.color = color;

						if (idx > 0) {
							const diff = team.score - teams[idx - 1].score;
							team.rank_node.querySelector('.diff').textContent =
								readableScoreFomatter(diff);
						} else {
							team.rank_node.querySelector('.diff').textContent = '';
						}

						leaderboard_values.appendChild(team.rank_node);
					});
			}
			function setWinner(player_idx) {
				const winning_team = players[player_idx]?.team;

				players.forEach(player => player.setGameOver());

				teams.forEach(team => {
					if (team === winning_team) {
						team.players.forEach(player => player.playWinnerAnimation());
					} else {
						team.players.forEach(player => player.showLoserFrame());
					}
				});
			}

			window.onload = () => {
				// wait for css
				const base_offset_y = 20;
				const pair_width = 447;
				const player_width = 219;
				const spacer = Math.round(
					(1920 - pair_width * num_teams) / (num_teams + 1)
				);

				let player_num = 0;

				teams.forEach((team, team_idx) => {
					console.log(team_idx);
					team.node.style.left = `${
						spacer + (spacer + pair_width) * team_idx
					}px`;

					[1, 2].forEach(col_num => {
						const player_idx = player_num++;
						const player_fragment = document.importNode(
							player_template.content,
							true
						);
						const player_node = player_fragment.querySelector('.player');

						player_node.classList.add(`p${player_num}`);
						team.node.appendChild(player_node);

						const player = new Player(
							{
								name: player_node.querySelector(`.score .header`),
								score: player_node.querySelector(`.score .value`),
								lines: player_node.querySelector(`.board .lines`),
								preview: player_node.querySelector(`.board .next_piece`),
								field: player_node.querySelector(`.board`),
								running_trt: player_node.querySelector(`.running_trt`),
								video: player_node.querySelector(`video`),
							},
							{
								field_pixel_size: 2.5,
								preview_pixel_size: 2,
								preview_align: 'tr',
								stereo: translate([0, num_teams - 1], [-1, 1], team_idx),
								format_score: v => readableScoreFomatter(v),
							}
						);

						player.onGameStart = function () {
							this.dom.lines.hidden = false;
							this.dom.preview.hidden = false;
						};

						player.onGameOver = function () {
							this.dom.lines.hidden = true;
							this.dom.preview.hidden = true;
						};

						player.onGameOver();

						players.push(player);

						// cross reference for convenience
						team.players.push(player);
						player.team = team;

						Object.assign(player_node.style, {
							left: `${(col_num - 1) * player_width}px`,
						});

						if (QueryString.get('rtrt') === '0') {
							player.dom.running_trt.remove();
						}
					});
				});

				const competition = new Competition(players, { setWinner });

				players.forEach(player => {
					player.onScore = () => player.team.updateScore();
				});

				if (!competition.has_video) {
					stream_bg.classList.add('no-video');
				}
			};
		</script>
	</body>
</html>
