<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/views/tetris.css" />
		<link rel="stylesheet" type="text/css" href="/views/mmp.css" />
		<style>
			.team {
				position: absolute;
				top: 110px;
				left: 335px;
			}

			#team2 {
				left: 980px;
			}

			.team .player_vid {
				position: absolute;
				object-fit: cover;
				width: 312px;
				height: 312px;
				top: 9px;
				background: black;
			}

			.team .player_vid.p2 {
				top: 492px;
			}

			#team1 .player_vid {
				right: 10px;
			}
			#team2 .player_vid {
				left: 615px;
			}

			.team-score {
				width: 575px;
				font-size: 42px;
				line-height: 48px;
				padding-top: 12px;
				padding-bottom: 12px;
				height: 92px;
				top: 0;
			}

			.aligner {
				display: inline-block;
				text-align: right;
			}

			.board {
				top: 230px;
				width: 277px;
				height: 557px;
			}

			.board .lines {
				font-size: 20px;
				top: 3px;
			}

			.board .next_piece {
				width: 93px;
				height: 45px;
			}

			.score {
				top: 137px;
				width: 277px;
				height: 60px;
				padding-top: 6px;
				padding-bottom: 6px;
			}

			.score .header,
			.score .value {
				font-size: 24px;
				line-height: 28px;
			}
		</style>
	</head>
	<body>
		<div id="stream_bg">
			<div id="team1" class="team">
				<div class="players"></div>
				<div class="box team-score">
					<div class="aligner">
						<div class="sum">00&#x202F;000&#x202F;000</div>
						<div class="diff">00&#x202F;000&#x202F;000</div>
					</div>
				</div>
			</div>
			<div id="team2" class="team">
				<div class="players"></div>
				<div class="box team-score">
					<div class="aligner">
						<div class="sum">00&#x202F;000&#x202F;000</div>
						<div class="diff">00&#x202F;000&#x202F;000</div>
					</div>
				</div>
			</div>

			<template id="player">
				<div class="player">
					<video class="player_vid"></video>
					<div class="box board">
						<div class="lines">000</div>
						<div class="next_piece"></div>
					</div>

					<div class="box score">
						<div class="header">PLAYER</div>
						<div class="value">0&#x202F;000&#x202F;000</div>
					</div>
				</div>
			</template>
		</div>
		<!-- End Stream BG -->

		<!-- Audio -->
		<script>
			// custom view parameters which will be passed in the websocket URI
			const view_meta = new URLSearchParams({
				video: '640x480',
				players: 4,
			});
		</script>
		<script src="/vendor/peerjs.1.5.4.min.js"></script>
		<script type="module">
			import QueryString from '/js/QueryString.js';
			import '/views/bg.js';
			import { translate, readableScoreFomatter } from '/views/utils.js';
			import Player from '/views/Player.js';
			import Competition from '/views/competition.js';

			const stream_bg = document.querySelector('#stream_bg');
			const player_template = document.getElementById('player');
			const players = [];

			// TODO create a team class like in the pairs layout

			// Check team configuration
			let team_setup = [
				[1, 2],
				[1, 2],
			];

			const player_setup_re = /^[12]-[12]$/;

			if (player_setup_re.test(QueryString.get('players'))) {
				team_setup = QueryString.get('players')
					.split('-')
					.map(n => parseInt(n, 10))
					.map(n =>
						Array(n)
							.fill()
							.map((_, idx) => idx + 1)
					);
			}

			function udpatePlayerScore(player) {
				// team1 score
				const team1_score = team_setup[0].reduce(
					(acc, _, idx) => acc + players[idx].getScore(),
					0
				);
				const team1_node = document.querySelector(`#team1 .team-score`);

				// team1 score
				const team2_score = team_setup[1].reduce(
					(acc, _, idx) => acc + players[idx + team_setup[0].length].getScore(),
					0
				);
				const team2_node = document.querySelector(`#team2 .team-score`);

				const diff = Math.abs(team1_score - team2_score);

				team1_node.querySelector('.sum').textContent =
					readableScoreFomatter(team1_score);
				team2_node.querySelector('.sum').textContent =
					readableScoreFomatter(team2_score);

				const team1_diff_node = team1_node.querySelector('.diff');
				const team2_diff_node = team2_node.querySelector('.diff');

				const green = '#0eff0e';
				const red = '#fd0009';

				if (team1_score >= team2_score) {
					team1_diff_node.textContent =
						(diff > 0 ? '+' : '') + readableScoreFomatter(diff);
					team2_diff_node.textContent = readableScoreFomatter(-diff);

					team1_diff_node.style.color = green;
					team2_diff_node.style.color = red;
				} else {
					team2_diff_node.textContent =
						(diff > 0 ? '+' : '') + readableScoreFomatter(diff);
					team1_diff_node.textContent = readableScoreFomatter(-diff);

					team2_diff_node.style.color = green;
					team1_diff_node.style.color = red;
				}
			}

			function setWinner(player_idx) {
				players.forEach(player => player.setGameOver());

				if (player_idx < team_setup[0].length) {
					team_setup[0].forEach((_, idx) => players[idx].playWinnerAnimation());
					team_setup[1].forEach((_, idx) =>
						players[idx + team_setup[0].length].showLoserFrame()
					);
				} else {
					team_setup[0].forEach((_, idx) => players[idx].showLoserFrame());
					team_setup[1].forEach((_, idx) =>
						players[idx + team_setup[0].length].playWinnerAnimation()
					);
				}
			}

			window.onload = () => {
				// wait for css
				const player_width = 298;

				let player_num = 0;

				team_setup.forEach((player_setup, team_idx) => {
					const team_node = document.querySelector(`#team${team_idx + 1}`);
					const base_offset_x = Math.round(
						((2 - player_setup.length) * player_width) / 2
					);

					player_setup.forEach(col_num => {
						const player_idx = player_num++;
						const player_fragment = document.importNode(
							player_template.content,
							true
						);
						const player_node = player_fragment.querySelector('.player');

						player_node.classList.add(`p${player_num}`);
						team_node.querySelector('.players').appendChild(player_node);

						const video_node = player_node.querySelector(`.player_vid`);
						video_node.classList.add(`p${col_num}`);
						team_node.prepend(video_node);

						const player = new Player(
							{
								name: player_node.querySelector(`.score .header`),
								score: player_node.querySelector(`.score .value`),
								lines: player_node.querySelector(`.board .lines`),
								preview: player_node.querySelector(`.board .next_piece`),
								field: player_node.querySelector(`.board`),
								video: video_node,
							},
							{
								field_pixel_size: 3.5,
								preview_pixel_size: 3,
								preview_align: 'tr',
								stereo: translate([0, 1], [-1, 1], team_idx),
								format_score: readableScoreFomatter,
							}
						);

						player.onGameStart = function () {
							this.dom.lines.hidden = false;
							this.dom.preview.hidden = false;
						};

						player.onGameOver = function () {
							this.dom.lines.hidden = true;
							this.dom.preview.hidden = true;
						};

						player.onGameOver();

						players.push(player);

						if (QueryString.get('video') === '0') {
							video_node.remove();
						}

						Object.assign(player_node.style, {
							left: `${base_offset_x + (col_num - 1) * player_width}px`,
						});
					});
				});

				const competition = new Competition(players, { setWinner });

				players.forEach(player => {
					player.onScore = udpatePlayerScore;
				});
			};
		</script>
	</body>
</html>
