<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/views/tetris.css" />
		<link rel="stylesheet" type="text/css" href="/views/mmp.css" />
		<style>
			.score {
				top: 0;
				width: 229px;
				margin-left: -16px;
			}

			.score .value {
				font-size: 24px;
				line-height: 28px;
			}

			.board {
				top: 77px;
			}

			.player.p2 {
				top: 540px;
			}

			.leaderboard {
				top: 20px;
				left: 1022px;
				width: 850px;
				height: 608px;
				font-size: 16px;
				line-height: 24px;
				padding: 3px;
			}

			.entry .rank {
				width: 32px;
				color: #29dcf1;
			}

			.entry.top8 .rank {
				color: #f3ed55;
			}

			.entry.top16 .rank {
				color: #bfb8be;
			}

			.entry.top32 .rank {
				color: #736122;
			}

			.entry .name {
				width: 208px;
			}

			.entry .best {
				width: 144px;
				color: #01ce0a;
			}
		</style>
	</head>
	<body>
		<div id="stream_bg">
			<div class="box leaderboard">
				<div class="header">LEADERBOARD</div>
				<div class="value"></div>
			</div>

			<template id="player">
				<div class="player">
					<div class="box board">
						<div class="lines">000</div>
						<div class="next_piece"></div>
					</div>

					<div class="box score">
						<div class="header">PLAYER</div>
						<div class="value">0&#x202F;000&#x202F;000</div>
					</div>
				</div>
			</template>

			<template id="rank">
				<div class="entry">
					<span class="rank">1</span>
					<span class="name">-</span>
					<span class="best">0</span>
				</div>
			</template>
		</div>
		<!-- End Stream BG -->

		<!-- Audio -->
		<script>
			// custom view parameters which will be passed in the websocket URI
			const view_meta = new URLSearchParams({
				players: 8,
			});
		</script>
		<script type="module">
			import '/views/bg.js';
			import Connection from '/js/connection.js';
			import { peerServerOptions } from '/views/constants.js';
			import { translate, readableScoreFomatter } from '/views/utils.js';
			import Player from '/views/Player.js';
			import Competition from '/views/competition.js';

			const stream_bg = document.querySelector('#stream_bg');
			const player_template = document.getElementById('player');
			const rank_template = document.getElementById('rank');
			const leaderboard_values = document.querySelector('.leaderboard  .value');
			const players = [];

			let connection;

			const topScores = {};

			function sortTopScores() {
				Object.values(topScores)
					.sort((p1, p2) => {
						return p2.score - p1.score;
					})
					.slice(0, 48)
					.forEach((item, idx) => {
						// Update score
						item.node.querySelector('.rank').textContent = idx + 1;

						// Update class
						item.node.classList.remove('top8', 'top16', 'top32');
						if (idx <= 7) {
							item.node.classList.add('top8');
						} else if (idx <= 15) {
							item.node.classList.add('top16');
						} else if (idx <= 31) {
							item.node.classList.add('top32');
						}

						leaderboard_values.appendChild(item.node);
					});
			}

			function udpatePlayerScore(player) {
				if (!player.login) return;

				let topScore = topScores[player.login];

				if (!topScore) {
					const rank_fragment = document.importNode(
						rank_template.content,
						true
					);
					const rank_node = rank_fragment.querySelector('.entry');

					topScore = topScores[player.login] = {
						login: player.login,
						score: 0,
						node: rank_node,
					};

					rank_node.querySelector('.name').textContent =
						player.player_name || player.login || 'Player';
				}

				const new_score = player.getScore();
				const old_score = topScore.score;

				if (new_score > old_score) {
					topScore.score = new_score;
					topScore.node.querySelector('.best').textContent =
						readableScoreFomatter(new_score);
					sortTopScores();
				}
			}

			window.onload = () => {
				// wait for css
				console.log('window.onload');

				const base_offset_x = 20;
				const base_offset_y = 20;
				const player_width = 250;

				[1, 2].forEach(row_num => {
					[1, 2, 3, 4].forEach(col_num => {
						const player_num = (row_num - 1) * 4 + col_num;
						const player_idx = player_num - 1;

						const player_fragment = document.importNode(
							player_template.content,
							true
						);
						const player_node = player_fragment.querySelector('.player');

						player_node.classList.add(`p${player_num}`);
						stream_bg.appendChild(player_node);

						const player = new Player(
							{
								name: player_node.querySelector(`.score .header`),
								score: player_node.querySelector(`.score .value`),
								lines: player_node.querySelector(`.board .lines`),
								preview: player_node.querySelector(`.board .next_piece`),
								field: player_node.querySelector(`.board`),
							},
							{
								field_pixel_size: 2.5,
								preview_pixel_size: 2,
								preview_align: 'tr',
								stereo: translate([1, 4], [-1, 1], col_num),
								format_score: readableScoreFomatter,
							}
						);

						player.onGameStart = function () {
							this.dom.lines.hidden = false;
							this.dom.preview.hidden = false;
						};

						player.onGameOver = function () {
							this.dom.lines.hidden = true;
							this.dom.preview.hidden = true;
						};

						player.onGameOver();

						players.push(player);

						Object.assign(player_node.style, {
							top: `${base_offset_y + (row_num - 1) * 530}px`,
							left: `${base_offset_x + (col_num - 1) * player_width}px`,
						});
					});
				});

				const competition = new Competition(players);

				players.forEach(player => {
					player.onScore = frame => {
						udpatePlayerScore(player, frame.raw.score);
					};
				});
			};
		</script>
	</body>
</html>
