<html>
<head>
</head>
<body>
<p>Hello! This is NEStrisChamps</p>

<p>In this place, you can OCR your NESTris gameplay from capture devices or screen capture from the comfort of your browser</p>

<p>If you are a restreamer, you can invite players to join your room and control the display of a competition UI à la CTWC giving you the usual well known benefits:</p>
<ul>
	<li>Crisp pixel perfect rendering</li>
	<li>Same colors and rendering quality for both players</li>
	<li>Score differentials</li>
	<li>Real time stats like Tetris Rate and Droughts</li>
</ul>

<p>Users of this site will need a Twitch account to log in.</p>

<p>So what do you want to do?</p>

<ul>
<li>
	<p>Start OCR-ing my game play</p>
	<ul>
		<li><a href="/docs/index.html#obs">Set up OBS browser source</a></li>
		<li><a href="/docs/index.html#ocr">Read the docs on OCR calibration</a></li>
		<li><a href="/room/producer">OCR my gameplay</a></li>
	</ul>
</li>

<li>
	<p>Administer a match</p>
	<ul>
		<li><a href="/docs/index.html#obs">Set up OBS browser source</a></li>
		<li><a href="/room/admin">Get to the room admin panel</a></li>
	</ul>
</li>

<li><p>Join the NEstrisChamps <a href="https://discord.gg/gaCEe5aX">discord server</a>.</p></li>

</ul>


</body>
</html>