<html>
<head>
	<style>
		p {
			text-align: center;
		}
	</style>
</head>
<body>

<p>
	Login as
	<select id="player">
		<option value="">Select a player</option>
	</select>
	<button id="go">-- GO! --</button>
</p>

<script>

const player_select = document.querySelector('select#player');

for (let player_num=1; player_num<=16; player_num++) {
	const option = document.createElement('option');
	option.text = `Player ${player_num}`;
	option.value = player_num;
	player_select.appendChild(option);
}

document.querySelector('button#go').addEventListener('click', (evt) => {
	evt.preventDefault();

	const player_num = player_select.value

	if (player_num) {
		document.location.href = `/auth/set_session_player/${player_num}`;
	}
});

</script>
</body>
</html>
