<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>NestrisChamps: Login with Twitch</title>
	<meta name="description" content="Login to access NestrisChamps tracking features" />

	<link rel="stylesheet" href="/vendor/bulma.1.0.2.min.css">
</head>
<body>

<%- include('header'); %>

<section class="section">
	<div class="container">
		<h1 class="title is-1">
			Login is required
		</h1>
		<p class="block">In order to use NestrisChamps's features, you must be logged in. Click the button below to get started.</p>
		
		<p class="block buttons are-medium">
			<a class="button" href="/auth/twitch">
				<img src="/images/identity_providers/twitch.png" width="30" height="30" />&nbsp;Log in with Twitch
			</a>

			<a class="button" href="/auth/google">
				<img src="/images/identity_providers/google.png" width="30" height="30" />&nbsp;Log in with Google
			</a>
		</p>
	</div>
</section>

</body>
</html>
