<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io("wss://nestrischamps.herokuapp.com");

setInterval(() => {
	socket.emit('hello', 5000);
});
</script>
</head>
<body>

</body>
</html>
