<html>
<head>
<script>

const socket = new WebSocket("wss://nestrischamps.herokuapp.com");

const hello_ping = setInterval(() => {
	socket.send('hello there');
}, 5000);

</script>
</head>
<body>

</body>
</html>
