<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>NesTrisChamps: Privacy</title>
	<meta name="description" content="Login to access NestrisChamps tracking features" />

	<link rel="stylesheet" href="/vendor/bulma.1.0.2.min.css">
	<style>
		.navbar-item img {
        	max-height: 2.5rem;
		}
    </style>
</head>
<body>

<%- include('header'); %>

<section class="section">
	<div class="container">
		<h1 class="title is-1">
			NesTrisChamps: Privacy
		</h1>
		<p class="block">NesTrisChamps contains NO PASSWORDS. Login into NesTrisChamps is done via third party identity providers like <a href="https://google.com">Google</a> or <a href="https://twitch.tv">Twitch</a>.</p>
        <p class="block">Game data are freely available to anyone on the web.</p>
        <p class="block">Sensitive Data like Date of Birth are never revealed, they are only used to compute age.</p>
        <p class="block">NesTrisChamps doesn't sell or release any personal data to anyone.</p>
	</div>
</section>

</body>
</html>
