<html>
<head>
</head>
<body>

<h1>Hi <%= user.display_name %>!</h1>

<p>Thanks for using NestrisChamps.</p>

<p>Your view secret is <b><%= user.secret%></b>. <a href="/settings/revoke_secret">Revoke Secret</a> (a new one will be generated for you)</p>

<p><a href="/settings/clear_session">Clear Session</a> (= logout)</p>

<p>Quick Links</p>
<ul>
	<li><a href="/renderers">See my personal view links</a></li>
	<li><a href="/room/producer">Produce into my private room</a></li>
	<li><a href="/room/admin">Administer my match room</a></li>
	<li><a href="/room/u/<%= user.login %>/producer">Produce into my match room</a></li>
	<li><a href="/stats/scores">View and manage my past scores</a></li>
</ul>

</body>
</html>