<!DOCTYPE html>
<html>
<head>
	<%- include('partials/gtm_head') %>
	<title>NesTrisChamps: Terms of Service</title>
	<meta name="description" content="Login to access NestrisChamps tracking features" />
	<link rel="stylesheet" href="/vendor/bulma.1.0.2.min.css">
	<style>
		.navbar-item img {
        	max-height: 2.5rem;
		}
    </style>
</head>
<body><%- include('partials/gtm_body') %>

<%- include('header'); %>

<section class="section">
	<div class="container">
		<h1 class="title is-1">
			NesTrisChamps: Terms of Service
		</h1>
		<p class="block">NesTrisChamps is Open Source, hosted on github <a href="https://github.com/timotheeg/nestrischamps">here</a>.</p>
        <p class="block">nestrischamps.io is an online, freely available version of NesTrisChamps.</p>
        <p class="block">It runs on a single server. So, please be nice and do not abuse the service.</p>
		<p class="block">All game data is freely available to all.</p>
        <p class="block">Yobi, the creator of NesTrisChamps and operator of nestrischamps.io reserves the right to ban you if you misbehave.</p>
	</div>
</section>

</body>
</html>
