body,
html {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

html {
	background-color: #080808;
	height: 100%;
}

body {
	background-color: #030303;
	color: #fdf0f1;
	box-shadow: 0 0 16px #040404;
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#header {
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 31px;
}

#header h1 {
	color: #666;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	line-height: 25px;
	flex-grow: 0;
}

#navbar {
	height: 64px;
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: #040404;
	margin-top: 0px;
	border-bottom: 2px solid #222;
	background-image: url('wavy_grid_gradient.png');
}

#main_menu {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0px;
	padding: 0px;
	flex-grow: 1;
}

#credits {
	height: 48px;
	padding-top: 8px;
	font-size: 0.6em;
	width: 450px;
	text-align: right;
	padding-right: 12px;
	font-weight: bold;
	color: #444;
}

#credits a {
	color: #444;
	text-decoration: none;
}

#credits a:hover {
	color: #666;
}

#credits img {
	display: inline;
	margin-left: 4px;
	margin-right: 4px;
}

#main_menu li {
	padding-top: 16px;
	height: 32px;
	display: block;
	margin: 6px;
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
}

#main_menu li button,
#main_menu li label {
	display: block;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
	border-top: none;
	border-left: none;
	border-right: 3px solid #181818;
	border-bottom: 3px solid #111;
	background-color: #222;
	color: #888;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

#main_menu li button:hover,
#main_menu li label:hover {
	background-color: #333;
}

#main_menu li button.active {
	background-color: #181818;
	border-right: 1px solid #0c0c0c;
	border-bottom: 1px solid #080808;
	color: #666;
	/* Transparent top-left, for offset purposes */
	border-top: 2px solid rgba(0, 0, 0, 0);
	border-left: 2px solid rgba(0, 0, 0, 0);
}

#main_menu li button.active:hover {
	background-color: #222;
}

#main_menu #power_light {
	display: flex;
	align-items: center;
	border: none;
	box-shadow: none;
}

#main_menu #power_light #led {
	width: 10px;
	height: 10px;
	margin-left: 10px;
	border: 1px solid #1b1917;
	background-color: #353233;
}

#main_menu #power_light #led.powered {
	background-color: #84b;
	box-shadow: 0px 0px 4px #629;
}

#content_area {
	position: relative;
	height: calc(100% - 66px);
	overflow: auto;
}

.tab_content {
	display: none;
	color: #dddddd;
}

.tab_content.active {
	display: block;
}

#playfield.active {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

#playfield.fullscreen {
	width: 100%;
	height: 100%;
	padding-top: 0px;
	background-color: black;
}

#playfield div.canvas_container {
	position: relative;
	width: 768px;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#jam.active {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

#jam div.canvas_container {
	position: relative;
	overflow: hidden;
}

#jam div.jam_pixels_container {
	width: 256px;
	height: 240px;
	overflow: hidden;
}

#jam div.jam_apu_container {
	width: 240px;
	height: 500px;
	overflow: hidden;
}

#jam div.piano_roll_container {
	width: 960px;
	height: 540px;
	overflow: hidden;
}

div.canvas_container img.overlay {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}

canvas {
	width: 100%;
	height: 100%;

	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}

input#file-loader {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.flex_columns {
	display: flex;
	flex-direction: row;
}

.flex_rows {
	display: flex;
	flex-direction: column;
}

#jam .flex_columns {
	justify-content: center;
}

#jam .flex_rows {
	justify-content: center;
}

#jam .flex_columns div {
	margin: 8px;
}

#configure_input .flex_columns div {
	margin: auto;
}

#configure_input {
	padding-left: 10px;
	padding-right: 10px;
}

#configure_input td {
	text-align: right;
	padding: 3px;
	padding-left: 10px;
}

#configure_input button {
	width: 300px;
	border: none;
	border-radius: 9px;
	padding: 2px;
	background-color: #727272;
	color: #77221a;
	font-weight: bold;
	text-transform: uppercase;
}

.banner {
	display: none;
}

.banner.active {
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #111;
	border-bottom: 2px solid #222;
	color: #555;
	font-size: 11px;
	font-weight: bold;
}

.banner a {
	color: #777;
	text-decoration: none;
}

.banner a:hover {
	color: #999;
}

.banner.active.error {
	background-color: #311;
	border-bottom: 2px solid #622;
	color: #755;
}

.debug-box {
	display: none;
}

.debug-box.active {
	display: block;
	text-align: center;
	background-color: #441;
	border-bottom: 2px solid #552;
	color: #885;
	font-size: 11px;
	font-weight: bold;
}

.debug-box pre {
	text-align: left;
	width: 200px;
	margin-left: 500px;
}
