<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/views/tetris.css" />
		<link rel="stylesheet" type="text/css" href="/views/simple_1p.css" />
		<style></style>
	</head>
	<body>
		<div id="stream_bg">
			<div id="playing_fields">
				<div class="box drought">
					<div class="header">DRT</div>
					<div class="value">99</div>
				</div>

				<div class="box level">
					<div class="header">LEVEL</div>
					<div class="content">00</div>
				</div>

				<div class="box lines">
					<div class="header">LINES</div>
					<div class="content">000</div>
				</div>

				<div class="box runway game">
					<div class="header">GAME RUNWAY</div>
					<div class="content">0&#x202F;000&#x202F;000</div>
				</div>

				<div class="box runway transition">
					<div class="header">TR RUNWAY</div>
					<div class="content">000&#x202F;000</div>
				</div>

				<div class="box score">
					<div class="header">SCORE</div>
					<div class="content">0&#x202F;000&#x202F;000</div>
				</div>

				<div class="box tetris_rate">
					<div class="header">TRT</div>
					<div class="content">---</div>
				</div>

				<div class="box efficiency">
					<div class="header">EFF</div>
					<div class="content">---</div>
				</div>

				<div class="box running_trt"></div>
				<div class="box board"></div>
				<div class="box next_piece"></div>
			</div>
			<!-- End Playing Fields -->
		</div>
		<!-- End Stream BG -->

		<!-- Audio -->

		<script type="module">
			import '/views/bg.js';
			import Connection from '/js/connection.js';
			import { readableScoreFomatter } from '/views/utils.js';
			import Player from '/views/Player.js';

			const player = new Player(
				{
					score: document.querySelector(`.score .content`),
					runway_tr: document.querySelector(`.runway.transition .content`),
					runway_game: document.querySelector(`.runway.game .content`),
					level: document.querySelector(`.level .content`),
					lines: document.querySelector(`.lines .content`),
					trt: document.querySelector(`.tetris_rate .content`),
					eff: document.querySelector(`.efficiency .content`),
					running_trt: document.querySelector(`.running_trt`),
					preview: document.querySelector(`.next_piece`),
					field: document.querySelector(`.board`),
					drought: document.querySelector(`.drought .value`),
				},
				{
					tetris_sound: 0,
					reliable_field: 0,
					format_score: v => readableScoreFomatter(v),
				}
			);

			player.drought_box = document.querySelector(`.drought`);
			player.runway_tr_box = document.querySelector(`.runway.transition`);

			player.onDroughtStart = () => {
				console.log('onDroughtStart');
				player.drought_box.classList.add('active');
			};

			player.onDroughtEnd = count => {
				console.log('onDroughtEnd', count);
				player.drought_box.classList.remove('active');
			};

			player.onTransition = player.onGameOver = () => {
				player.runway_tr_box.hidden = true;
			};

			player.onGameStart = () => {
				player.drought_box.classList.remove('active');
				player.runway_tr_box.hidden = false;
			};

			const API = {
				frame(player_idx, data) {
					player.setFrame(data);
				},

				message() {}, // noop
			};

			const connection = new Connection();

			connection.onMessage = function (frame) {
				try {
					const [method, ...args] = frame;

					API[method].apply(API, args);
				} catch (e) {
					console.error(e);
				}
			};

			function onFrame(frame, debug) {
				API.frame(0, frame, debug);
			}
		</script>
	</body>
</html>
