<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/views/tetris.css" />
		<link rel="stylesheet" type="text/css" href="/views/stencil.css" />
		<style></style>
	</head>
	<body>
		<div id="stream_bg">
			<div id="nestris_ui">
				<label class="value lines">000</label>
				<label class="value top">000000</label>
				<label class="value score">000000</label>
				<label class="value level">00</label>

				<label class="value stat T">000</label>
				<label class="value stat J">000</label>
				<label class="value stat Z">000</label>
				<label class="value stat O">000</label>
				<label class="value stat S">000</label>
				<label class="value stat L">000</label>
				<label class="value stat I">000</label>

				<div id="piece_stats" class="l0">
					<p class="piece T"></p>
					<p class="piece J"></p>
					<p class="piece Z"></p>
					<p class="piece O"></p>
					<p class="piece S"></p>
					<p class="piece L"></p>
					<p class="piece I"></p>
				</div>

				<div class="board"></div>
				<div class="next_piece"></div>

				<div class="drought">DRT <span class="value">000</span></div>
			</div>

			<div id="playing_fields">
				<video></video>

				<div class="box timer">
					<div class="content">02:00:00</div>
				</div>

				<div class="box running_trt">
					<div class="header">TETRIS RATE <span class="trt">000</span></div>
					<div class="value bounded"></div>
				</div>

				<div class="box eff">
					<div class="header">EFF</div>
					<div class="value">000</div>
				</div>

				<div class="box burn">
					<div class="header">BRN</div>
					<div class="value">0</div>
				</div>

				<div class="box runway">
					<div class="header">RUNWAY</div>
					<div class="value">000000</div>
				</div>

				<div class="box projection">
					<div class="header">PROJECTION</div>
					<div class="value">000000</div>
				</div>
			</div>
			<!-- End Playing Fields -->
		</div>
		<!-- End Stream BG -->

		<!-- Audio -->

		<script>
			const view_meta = new URLSearchParams({
				video: '640x480',
			});
		</script>
		<script src="/vendor/peerjs.1.5.1.min.js"></script>
		<script type="module">
			import QueryString from '/js/QueryString.js';
			import BinaryFrame from '/js/BinaryFrame.js';
			import Connection from '/js/connection.js';
			import Player from '/views/Player.js';
			import { PIECES, peerServerOptions } from '/views/constants.js';
			import { peek } from '/views/utils.js';

			const init_time = Date.now();

			if (QueryString.get('bg') === '0') {
				document.querySelector(`#stream_bg`).style.background = 'transparent';
			}

			function format_score(v) {
				const tail = `${v % 100000}`.padStart(5, '0');
				const head = Math.floor(v / 100000);
				const v_str = `${head.toString(16).toUpperCase()}${tail}`;

				return v_str.padStart(6, '0');
			}

			function getPB() {
				let m;

				if (
					(m = location.pathname.match(/^\/view\/[a-z0-9_-]+\/([a-zA-Z0-9]+)$/))
				) {
					fetch(
						`${location.protocol}//${location.host}/stats/pb/${m[1]}?since=${init_time}`,
						{
							cache: 'no-cache',
							headers: {
								'Cache-Control': 'no-cache',
							},
							// mode: 'no-cors'
						}
					)
						.then(response => response.json())
						.catch(err => 0)
						.then(pb => {
							custom_doms.pb.textContent = format_score(pb || 0);
						});
				}
			}

			function updateLevel() {
				piece_stats.className = '';
				piece_stats.classList.add(`l${(player.game?.data?.level || 0) % 10}`);
			}

			const player = new Player(
				{
					lines: document.querySelector(`label.lines`),
					score: document.querySelector(`label.score`),
					level: document.querySelector(`label.level`),
					trt: document.querySelector(`.running_trt .trt`),
					running_trt: document.querySelector(`.running_trt .value`),
					preview: document.querySelector(`.next_piece`),
					field: document.querySelector(`.board`),
					drought: document.querySelector(`.drought .value`),

					eff: document.querySelector(`.eff .value`),
					burn: document.querySelector(`.burn .value`),
					runway_game: document.querySelector(`.runway .value`),
					projection: document.querySelector(`.projection .value`),
				},
				{
					field_pixel_size: 3,
					preview_pixel_size: 3,
					tetris_flash: 0,
					tetris_sound: 0,
					format_score,
					format_drought: v => v.toString().padStart(3, '0'),
				}
			);

			const custom_doms = {
				pb: document.querySelector(`label.top`),
				drought_box: document.querySelector(`.drought`),
				piece_stats: {},
			};

			custom_doms.drought_box.hidden = true;

			PIECES.forEach(p => {
				custom_doms.piece_stats[p] = document.querySelector(`label.${p}`);
			});

			player.onDroughtStart = () => {
				console.log('onDroughtStart');
				custom_doms.drought_box.hidden = false;
			};

			player.onDroughtEnd = count => {
				console.log('onDroughtEnd', count);
				custom_doms.drought_box.hidden = true;
			};

			player.onGameStart = () => {
				custom_doms.drought_box.hidden = true;
				updateLevel();
				getPB();
			};

			player.onPiece = frame => {
				if (frame.pieces.length <= 0) return;

				const piece_stats = peek(frame.pieces).pieces;

				PIECES.forEach(p => {
					custom_doms.piece_stats[p].textContent = piece_stats[p].count
						.toString()
						.padStart(3, '0');
				});
			};

			player.onLevel = updateLevel;

			getPB();

			// timer management
			const ALLOWED_TIME = 2 * 60 * 60;
			const timer_el = document.querySelector(`.timer .content`);
			let start_time = 0;
			let timer = null;

			function startTimer(allowed) {
				document.querySelector('.timer').style.display = 'block';

				timer = clearInterval(timer);
				start_time = Date.now();

				const allowed_time = allowed || ALLOWED_TIME;

				timer = setInterval(() => {
					const elapsed = Math.floor((Date.now() - start_time) / 1000);
					let remainder = allowed_time - elapsed;

					if (remainder < 0) {
						remainder = 0;
						timer = clearInterval(timer);
					}

					const hours = Math.floor(remainder / (60 * 60));

					remainder = remainder % (60 * 60);

					const minutes = Math.floor(remainder / 60);
					const seconds = remainder % 60;

					timer_el.textContent =
						`${hours}`.padStart(2, '0') +
						':' +
						`${minutes}`.padStart(2, '0') +
						':' +
						`${seconds}`.padStart(2, '0');
				}, 500);
			}

			const piece_stats = document.querySelector('#piece_stats');

			const API = {
				frame(player_num, data) {
					if (!data) {
						data = player_num;
					}

					player.setFrame(data);
				},

				startTimer(allowed_time) {
					startTimer(allowed_time);
				},

				scoreRecorded: getPB,

				message() {}, // noop
			};

			const connection = new Connection(null, view_meta);

			connection.onMessage = function (frame) {
				try {
					const [method, ...args] = frame;

					API[method].apply(API, args);
				} catch (e) {
					console.log(frame);
					console.error(e);
				}
			};

			function onFrame(frame, debug) {
				API.frame(1, frame, debug);
			}

			let peer = null;

			connection.onInit = () => {
				if (peer) {
					peer.destroy();
					peer = null;
				}

				peer = new Peer(connection.id, peerServerOptions);

				peer.on('call', call => {
					const video = document.querySelector('video');

					call.answer(); // assume correct!
					call.on('stream', remoteStream => {
						video.srcObject = remoteStream;
						video.addEventListener(
							'loadedmetadata',
							() => {
								video.play();
							},
							{ once: true }
						);
					});
					call.on('error', () => {
						video.stop();
						video.srcObject = null;
					});
					call.on('close', () => {
						video.stop();
						video.srcObject = null;
					});
				});
			};
		</script>
	</body>
</html>
